
<!DOCTYPE html>
<html lang="en" ng-app="myApp">
  <head>
    <meta charset="utf-8">
    <title>Template &middot; Bootstrap Session:</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="../../static/bootstrap/css/bootstrap.css" rel="stylesheet">
    
    <!-- Custom styles for this template -->
    <!-- <link href="../../static/css/jumbotron-narrow.css" rel="stylesheet"> -->
    
    <link href="../../static/css/form-validation.css" rel="stylesheet" />

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../../assets/js/html5shiv.js"></script>
      <script src="../../assets/js/respond.min.js"></script>
    <![endif]-->
    
    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../../static/assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../../static/assets/ico/apple-touch-icon-114-precomposed.png">
      <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../../static/assets/ico/apple-touch-icon-72-precomposed.png">
                    <link rel="apple-touch-icon-precomposed" href="../../static/assets/ico/apple-touch-icon-57-precomposed.png">
                                   <link rel="shortcut icon" href="../../static/assets/ico/favicon.png">
                                   
    <link rel="stylesheet" href="../../static/css/form-validation.css" >
    
  </head>

  <body sessionId="${session}">

    <div class="container" ng-controller="UserCtrl">

      <div class="header">
        <ul class="nav nav-pills pull-right">
          <li class="active"><a href="#">Home</a></li>
          <li><a href="#">About</a></li>
          <li ng-show="currentUser == null"><a ng data-toggle="modal" href="#signupModal">Sign-Up</a></li>
          <li ng-show="currentUser == null"><a ng data-toggle="modal" href="#loginModal">Login</a></li>
          <li ng-show="currentUser != null"><a ng data-toggle="modal" href="#myModal">Hello, {{currentUser.fName}} {{currentUser.lName}}</a></li>
          <li ng-show="currentUser != null"><a ng href="" ng-click="logout()" >Logout</a></li>
        </ul>
        <h3 class="text-muted">Project name</h3>
      </div>

      <hr>
	  | SessionId: ${session}
    
		<div class="container">
			<div class="row" >
				
                <div class="col-lg-8">
                    <div class="panel panel-default" ng-show="currentUser != null" ng-controller="ChatCtrl" >
                        <div class="panel-heading">
                            <h3>Chat</h3>
                        </div>
                        <div class="panel-body">
                            <div class="form-group" >
                                <div>
                                    <!-- //TODO chat history -->
                                    
                                    <div class="form-group" ng-repeat="msg in messages">
                                        <h4 class="label label-default">{{msg.sender.fName}}</h4>: 
                                        <span class="alert alert-info" ng-bind-html="msg.text | newlines"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <% //its groovy %>
                                <% def ngEvent = "\$" + "event" %>
                                <textarea rows="2" class="form-control" ng-model="message" ng-keydown="sendMessage(${ngEvent})" 
                                        placeholder="Tip your message here. Send it with Ctrl+Enter">
                                </textarea>
                            </div>
                            <div class="form-group">
                                <button class="col-lg-offset-10 col-lg-2 btn btn-primary" ng-click="sendMessage(null)">Send</button>
                            </div>
                        </div>
                    </div>
                </div>

				<div class="col-lg-4">
				    
				    <div class="panel panel-default">
                      <div class="panel-heading">
                          <h3>Actually logged in</h3>
                      </div>
                      <div class="panel-body" ng-controller="ChatCtrl" >
                        <ul class="list-group">
                            <li class="list-group-item" ng-repeat="buddy in loggedInUsers">
                                {{buddy.fName}}, {{buddy.lName}}
                            </li>
                        </ul>
                      </div>
                    </div>
                    
                </div>
				
			</div>
			
			
			
			
			<div class="row" >
			    <div class="col-lg-8">
                    <!--Sidebar content-->
                    <div class="panel panel-default">
                      <div class="panel-heading">
                          <h3>Users in System</h3>
                          <div class="input-group">
                            <input class="form-control" ng-model="query" placeholder="Filter">
                            <span class="input-group-addon">
                               <i class="glyphicon glyphicon-search"></i>
                            </span> 
                          </div>
                      </div>
                      <div class="panel-body">  
                        <ul id="usersList" class="list-group">
                            <li class="list-group-item" ng-repeat="user in allUser | filter:query">
                                {{user.fName}}, {{user.lName}}, {{user.email}}, {{user.gender.getCode()}} 
                            </li>
                        </ul>
                      </div>
                    </div>
                    
                </div>                
            </div>
			
			
		</div>


		<!-- 
      
      <div class="jumbotron">
        <h1>Super awesome marketing speak!</h1>
        <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
        <a class="btn btn-large btn-success" href="#">Sign up today</a>
      </div>

      <hr>

      <div class="row marketing">
        <div class="col-md-6">
          <h4>Subheading</h4>
          <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

          <h4>Subheading</h4>
          <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>

          <h4>Subheading</h4>
          <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
        </div>

        <div class="col-md-6">
          <h4>Subheading</h4>
          <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

          <h4>Subheading</h4>
          <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>

          <h4>Subheading</h4>
          <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
        </div>
      </div>
      
	   -->	
      <hr>

      <div class="footer">
        <p>&copy; Company 2013</p>
      </div>

      <div id="signupModal"
                    class="modal fade" 
                    ng-include="'signup-partial.html'" 
                    tabindex="-1" 
                    role="dialog" 
                    aria-labelledby="signUpDialogTitle" 
                    aria-hidden="true" ></div>
      <div id="loginModal"
                    class="modal fade" 
                    ng-include="'login-partial.html'" 
                    tabindex="-1" 
                    role="dialog" 
                    aria-labelledby="loginDialogTitle" 
                    aria-hidden="true" ></div>
      
     <!-- sample modal content -->
    <div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">

          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel">Modal Heading</h4>
          </div>
          <div class="modal-body">
            <h4>Text in a modal</h4>
            <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula.</p>

            <h4>Popover in a modal</h4>
            <p>This <a href="#" role="button" class="btn btn-default popover-test" title="A Title" data-content="And here's some amazing content. It's very engaging. right?">button</a> should trigger a popover on click.</p>

            <h4>Tooltips in a modal</h4>
            <p><a href="#" class="tooltip-test" title="Tooltip">This link</a> and <a href="#" class="tooltip-test" title="Tooltip">that link</a> should have tooltips on hover.</p>

            <hr>

            <h4>Overflowing text to show scroll behavior</h4>
            <p>Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
            <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
            <p>Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.</p>
            <p>Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
            <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
            <p>Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.</p>
            <p>Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
            <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
            <p>Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>

        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
      
    </div> <!-- /container -->
    
    
    

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="../../static/js/lib/sockjs-0.3.js"></script>
   <script src="../../static/js/lib/vertxbus.js"></script>
    <script src="../../static/js/common-infrastructure.js"></script>
    
    <script src="../../static/js/lib/jquery-1.7.1.min.js"></script>
    
    <script src="../../static/js/lib/angular/angular.js"></script>
    <script src="../../static/js/lib/angular/angular-cookies.js"></script>
    <script src="../../static/js/lib/angular/angular-sanitize.js"></script>
    
    <script src="../../static/bootstrap/js/bootstrap.js"></script>
    <script src="../../static/js/datamodel/stjs.js"></script>
  	
  	<script src="../../static/js/app.js"></script>
	<script src="../../static/js/filters.js"></script>
	<script src="../../static/js/directives.js"></script>
	
    <script src="../../static/js/user/User.model.js"></script>
	<script src="../../static/js/user/User.services.js"></script>
	<script src="../../static/js/user/User.controllers.js"></script>
	<script src="../../static/js/user/User.directives.js"></script>
  	
	<script src="../../static/js/lib/jquery.validate.min.js"></script>
    
<!--     <script src="/static/js/myCode.js"></script> -->
   
    
    
  </body>
</html>
