
<div class="modal-dialog">
    <div class="modal-content">

    <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="loginDialogTitle">Login</h4>
    </div>


| SessionId: ${session}
<div class="modal-body" style="max-height: 500px;">
	<div class="well">
		<form id="login" name="loginForm" ng-controller="LoginCtrl" class="form-horizontal" novalidate>
			<fieldset>
			<div class="form-group">
				<label class="col-lg-4 control-label">${msg.get('email')}</label>
				
					<div class="col-lg-8 input-group">
						<span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span> 
						<input
							type="email" class="form-control" 
							ng-model="email"
							placeholder="${msg.get('email')}"
							required
							/>
						<div class="input-help">
                          <h4>Correct email is required, please fill it</h4>
                        </div>
					</div>
			</div>
			<div class="form-group">
				<label class="col-lg-4 control-label">${msg.get('password')}</label>
					<div class="col-lg-8 input-group">
						<span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span> 
						<input
							type="Password" class="form-control" 
							ng-model="password"
							placeholder="${msg.get('password')}" />
					</div>
			</div>

			<div class="form-group">
				<label class="col-lg-4 control-label"></label>
				<div class="col-lg-8 input-group">
					<button ng-click="login()" class="btn btn-success">${msg.get('login')}</button>
				</div>

			</div>
			</fieldset>
		</form>
		
	</div>


</div>

</div>
</div>
