
<div class="modal-dialog">
    <div class="modal-content">

    <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="signUpDialogTitle">Sign Up</h4>
    </div>

| SessionId: ${session}
<div class="modal-body" style="max-height: 500px;">
	<div class="well">
		<form id="signup" name="signupForm" ng-controller="SignUpCtrl" class="form-horizontal" novalidate>
			<fieldset>
			<div class="form-group">
				<label class="col-lg-4 control-label">${msg.get('firstName')}</label>
				<div class="col-lg-8 input-group">
						<span class="input-group-addon">
							<i class="glyphicon glyphicon-user"></i>
						</span> 
						<input
                            name="fName"
							type="text" class="form-control" 
							ng-model="user.fName"
							placeholder="${msg.get('firstName')}"
							ng-required="true" />	
						<div class="input-help">
					      <h4>First name is required, please fill it</h4>
					    </div>
					</div>
			</div>
			<div class="form-group ">
				<label class="col-lg-4 control-label">${msg.get('lastName')}</label>
				<div class="col-lg-8 input-group">
						<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span> 
						<input
							type="text" class="form-control" 
							ng-model="user.lName"
							placeholder="${msg.get('lastName')}"
							required />
                        <div class="input-help">
                          <h4>Last name is required, please fill it</h4>
                        </div>
				</div>
			</div>
			<div class="form-group">
				<label class="col-lg-4 control-label">${msg.get('email')}</label>
				<div class="col-lg-8 input-group">
						<span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span> 
						<input
							type="email" class="form-control" 
							ng-model="user.email"
							placeholder="${msg.get('email')}"
							required
							/>
						<div class="input-help">
                          <h4>Correct email is required, please fill it</h4>
                        </div>
				</div>
			</div>
			<div class="form-group">
				<label class="col-lg-4 control-label">${msg.get('gender')}</label>
				<div class="col-lg-8 input-group">

					<p>
					<div id="genderGrp" name="gender" class="gender btn-group"
						data-toggle="buttons-radio">
						<button type="button" class="btn btn-info" ng-model="user.gender" gender-toggle-value="GenderType.MALE">${msg.get('male')}</button>
						<button type="button" class="btn btn-info" ng-model="user.gender" gender-toggle-value="GenderType.FEMALE">${msg.get('female')}</button>
					</div>
					<!-- type="hidden" ng-model="user.gender" value="{{genderTypeValues.MALE}}" btn-gender-toggle 
					<input id="gender" ng-model="user.gender"/> -->
					
					<script src="/static/js/views/login.js" type="text/javascript" ></script>
					</p>

				</div>
			</div>
			<div class="form-group">
				<label class="col-lg-4 control-label">${msg.get('password')}</label>
				<div class="col-lg-8 input-group">
						<span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span> 
						<input
							type="Password" class="form-control" 
							ng-model="user.passwd"
							placeholder="${msg.get('password')}"
							ph-password-validate />
						<div class="input-help">
					      <h4>Password must meet the following requirements:</h4>
					      <ul>
					        <li ng-class="pwdHasLetter">At least <strong>one letter</strong></li>
					        <li ng-class="pwdHasNumber">At least <strong>one number</strong></li>
					        <li ng-class="pwdValidLength">At least <strong>8 characters long</strong></li>
					      </ul>
					    </div>
				</div>
			</div>
			<div class="form-group">
				<label class="col-lg-4 control-label">${msg.get('confirmPassword')}</label>
				<div class="col-lg-8 input-group">
						<span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span> 
						<input
							type="Password" id="conpasswd" class="form-control"
							name="conpasswd" placeholder="${msg.get('reEnterPassword')}" 
							ng-model="passwdConfirm"
							ph-password-confirm-validate />
					   <div class="input-help">
                          <h4 ng-class="pwdConfirmValid">
                          	Password confirmation should be the same as the password
                          </h4>
                        </div>
				</div>
			</div>

			<div class="form-group">
				<label class="col-lg-4 control-label"></label>
				<div class="col-lg-8 input-group">
					<button ng-click="storeUser()" class="btn btn-success">${msg.get('createMyAccount')}</button>
				</div>

			</div>
			</fieldset>
		</form>
		
	</div>


</div>

</div>
</div>