
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Template &middot; Bootstrap Session:</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="/static/assets/css/bootstrap.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 20px;
        padding-bottom: 40px;
      }

      /* Custom container */
      .container-narrow {
        margin: 0 auto;
        max-width: 700px;
      }
      .container-narrow > hr {
        margin: 30px 0;
      }

      /* Main marketing message and sign up button */
      .jumbotron {
        margin: 60px 0;
        text-align: center;
      }
      .jumbotron h1 {
        font-size: 72px;
        line-height: 1;
      }
      .jumbotron .btn {
        font-size: 21px;
        padding: 14px 24px;
      }

      /* Supporting marketing content */
      .marketing {
        margin: 60px 0;
      }
      .marketing p + h4 {
        margin-top: 28px;
      }
    </style>
    <link href="/static/assets/css/bootstrap-responsive.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="/static/assets/js/html5shiv.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/static/assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/static/assets/ico/apple-touch-icon-114-precomposed.png">
      <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/static/assets/ico/apple-touch-icon-72-precomposed.png">
                    <link rel="apple-touch-icon-precomposed" href="/static/assets/ico/apple-touch-icon-57-precomposed.png">
                                   <link rel="shortcut icon" href="/static/assets/ico/favicon.png">
  </head>

  <body>
<!-- <div class="modal-header"> -->
<!-- 	<button type="button" class="close" data-dismiss="modal" -->
<!-- 		aria-hidden="true">×</button> -->
<!-- 	<h3 id="myModalLabel">Modal header</h3> -->
<!-- </div> -->
| SessionId: ${session}
<div class="modal-body" style="max-height: 500px;">
	<legend>Sign Up</legend>
	<div class="well">
		<form id="signup" class="form-horizontal" method="post" action="login/processLogin">
			<fieldset>
			<div class="control-group">
				<label class="control-label">${msg.get('firstName')}</label>
				<div class="controls">
					<div class="input-prepend">
						<span class="add-on">
							<i class="icon-user"></i>
						</span> 
						<input
							type="text" class="input-xlarge" id="fname" name="fname"
							placeholder="${msg.get('firstName')}">
					</div>
				</div>
			</div>
			<div class="control-group ">
				<label class="control-label">${msg.get('lastName')}</label>
				<div class="controls">
					<div class="input-prepend">
						<span class="add-on"><i class="icon-user"></i></span> <input
							type="text" class="input-xlarge" id="lname" name="lname"
							placeholder="${msg.get('lastName')}">
					</div>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label">${msg.get('email')}</label>
				<div class="controls">
					<div class="input-prepend">
						<span class="add-on"><i class="icon-envelope"></i></span> <input
							type="text" class="input-xlarge" id="email" name="email"
							placeholder="${msg.get('email')}">
					</div>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label">${msg.get('gender')}</label>
				<div class="controls">

					<p>
					<div id="genderGrp" name="gender" class="gender btn-group"
						data-toggle="buttons-radio">
						<button type="button" class="btn btn-info">${msg.get('male')}</button>
						<button type="button" class="btn btn-info">${msg.get('female')}</button>
					</div>
					<input type="hidden" id="gender" name="gender"/>
					</p>

				</div>
			</div>
			<div class="control-group">
				<label class="control-label">${msg.get('password')}</label>
				<div class="controls">
					<div class="input-prepend">
						<span class="add-on"><i class="icon-lock"></i></span> <input
							type="Password" id="passwd" class="input-xlarge" name="passwd"
							placeholder="${msg.get('password')}">
					</div>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label">${msg.get('confirmPassword')}</label>
				<div class="controls">
					<div class="input-prepend">
						<span class="add-on"><i class="icon-lock"></i></span> <input
							type="Password" id="conpasswd" class="input-xlarge"
							name="conpasswd" placeholder="${msg.get('reEnterPassword')}">
					</div>
				</div>
			</div>

			<div class="control-group">
				<label class="control-label"></label>
				<div class="controls">
					<button type="submit" class="btn btn-success">${msg.get('createMyAccount')}</button>
				</div>

			</div>
			</fieldset>
		</form>
		
		<button class="btn btn-info" onclick="sendAjaxJson();">Send Json User</button>

	</div>


</div>
<!-- <div class="modal-footer"> -->
<!-- 	<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button> -->
<!-- 	<button class="btn btn-primary">Save changes</button> -->
<!-- </div> -->

    <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/static/js/jquery-1.7.1.min.js"></script>
    <script src="/static/js/jquery.validate.min.js"></script>
    <script src="/static/js/bootstrap.js"></script>
    
    <script src="/static/js/sockjs-0.3.min.js"></script>
    <script src="/static/js/vertxbus.js"></script>
    
    <script src="/static/js/myCode.js"></script>
	<script src="/static/js/views/login.js"></script>

	<script src="/static/js/datamodel/stjs.js"></script>
    <script src="/static/js/datamodel/model.js"></script>
    
</body>
</html>